<%= form_for(@vendor) do |f| %>
  <% if @vendor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vendor.errors.count, "error") %> prohibited this vendor from being saved:</h2>

      <ul>
      <% @vendor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.collection_check_boxes :category_ids, Category.all, :id, :name %>
  <%= f.collection_check_boxes :capability_ids, Capability.all, :id, :name, :prompt => "Capability", :multiple => true %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :url %><br>
    <%= f.text_field :url %>
  </div>

  <%= f.file_field :image %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
